:root {
    --background-ligth: #C1BCEC;
    --background-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik ,sans-serif;
    color: var(--text-dark);
}

body {
    height: 100vh;
    width: 100vh;
    background-color: var(--background-white);
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px !important;
    background-color: var(--color-primary);

}

.sidebar p {
    width: 100vw !important;
}

.sidebar img {
    width: 5vw;
}

nav {
    height: 100px;
    background-color: var(--background-ligth);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}


a.btn {
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
}

section.graph {
    width: 33%;
    height: 100%;
}

.graph_header {
    display: flex;
    justify-content: space-between;
    width: max-content;
    align-items: center;
}

h2 {
    flex: 2;
    font-size: 18px;
    display: inline-block;
}

hr.linhaHeader {
    width: 50px;
    height: 1px;
    display: inline-block;
}

.graph_header-subtittle {
    margin-top: 10px;
}

.graph-placeholder {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 35px;
    background: url('/assets/images/graph.png');
    background-size: contain;
}

.graph_header-tasks_left {
    text-align: center;
    margin-top: 10px;
}

.linha_header-line {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 2px;
}

.graph_header-date {
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


.list {
    padding: 20px 20px 0 20px;
    flex:1;
}

.list_header-select{
    display: flex;
    padding: 10px;
}

.list_header-select {
    background-color: transparent;
    border: 0;
    font-weight: bold;
    color: var(--text-dark);
}

.task_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5px;
    border-bottom: 1px solid var(--background-ligth);   
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.task:hover {
    transform: scale(1.01);
    background-color: var(--background-ligth);
    border-radius: 10px;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    flex: 1;
}

.priority, .actions {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions a {
    margin-right: 20px;
    transition: all .3s ease-in-out;
}

.actions>a:hover {
    transform: scale(2);
}

.sphere {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
}
.task_title {
    padding-left: 10px;
    font-weight: bold;
}

.tasks_left_footer{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.checkbox {
    width: 20px;
}