:root {
    --background-ligth: #C1BCEC;
    --background-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik ,sans-serif;
    color: var(--text-dark);
}

body {
    height: 100vh;
    width: 100vh;
    background-color: var(--background-white);
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px !important;
    background-color: var(--color-primary);
}

.sidebar p {
    width: 100vw !important;
}

nav {
    height: 100px;
    background-color: var(--background-ligth);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

a.btn {
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
}

section.graph {
    width: 33%;
    height: 100%;
}

.graph_header {
    display: flex;
    justify-content: space-between;
}

h2 {
    display: inline-block;
    background-color: red;
}

hr.linhaHeader {
    width: 50px;
    display: inline-block;
}
